.video {
    padding: 0 30rpx;

    .item {
        position: relative;
        display: flex;
        height: 190rpx;
    }

    .pic {
        position: relative;
        @include flex(center, center);
        @include w-h(232rpx, 140rpx);
        min-width: 232rpx;
        margin-right: 19rpx;
        border-radius: 10rpx;
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .round {
            position: absolute;
            bottom: 10rpx;
            right: 10rpx;
            @include flex(center, center);
            @include w-h(80rpx, 30rpx);
            font-size: 22rpx;
            font-family: PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            background: rgba(0, 0, 0, .5);
            border-radius: 15rpx;
        }
    }

    .title {
        width: 421rpx;
        font-size: 34rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #333333;
        box-sizing: border-box;
        line-height: 38rpx;
    }

    .row_1 {
        @include flex(flex-start, center);
        margin: 15rpx 0;
        color: #666666;

        .name {
            font-size: 28rpx;
            font-weight: 500;
            font-family: PingFang SC;
            white-space: nowrap;
        }

        .position {
            width: 120rpx;
            font-size: 24rpx;
            font-weight: 500;
            font-family: PingFang SC;
            white-space: nowrap;
        }

        .line {
            margin: 0 15rpx;
            @include w-h(2rpx, 24rpx);
            background-color: #666666;
        }

        .address {
            margin-left: 21rpx;
            // width: 200rpx;
            width: 170rpx;
            font-size: 24rpx;
            color: #999999;
            font-weight: 500;
            font-family: PingFang SC;
        }
    }

    .row_2 {
        @include flex(flex-start, center);
        // font-size: 24rpx;
        font-size: 26rpx;
        color: #999999;

        .left {
            margin-right: 54rpx;
        }

        .iconfont {
            margin-right: 6rpx;
            font-size: 28rpx;
            color: #999999;
        }
    }
}